{% extends 'base.html' %}
{% block content %}
<h2>Cadastro de Tipo de Gasto</h2>

<form method="post" class="mb-4">
  <div class="mb-3">
    <label>Nome do Tipo</label>
    <input type="text" name="nome" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar Tipo</button>
</form>

<!-- Lista de tipos de gasto -->
<h4>Tipos já cadastrados</h4>
<ul class="list-group">
  {% for tipo in tipos %}
  <li class="list-group-item">{{ tipo.nome }}</li>
  {% endfor %}
</ul>
{% endblock %}
