{% extends 'base.html' %}
{% block content %}
<h2>Editar Cartão</h2>

<form method="post">
  <div class="mb-3">
    <label>Nome</label>
    <input type="text" name="nome" class="form-control" value="{{ cartao.nome }}" required>
  </div>

  <div class="mb-3">
    <label>Bandeira</label>
    <input type="text" name="bandeira" class="form-control" value="{{ cartao.bandeira }}" required>
  </div>

  <div class="mb-3">
    <label>Limite</label>
    <input type="number" name="limite" step="0.01" class="form-control" value="{{ cartao.limite }}" required>
  </div>

  <button class="btn btn-primary" type="submit">Salvar</button>
  <a href="/cadastrar-cartao" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
